@import '../Styles/GlobalStyles.scss';

.primary_frame {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	background-color: $White;
	border-radius: 20px;
}

@media only screen and (min-width:$MobileLargerMobileBreakPoint){
	.primary_frame {
		width: 80%;
		height: 80%;
	}
}

@media only screen and (min-width:$MobileSuperLargeMobileBreakPoint){
	.primary_frame {
		width: 80%;
		height: 80%;
	}
}

@media only screen and (min-width:$DeskTopFirstBreakPoint) {
	.primary_frame {
		width: 80%;
		height: 80%;
		flex-direction: row;
	}
}

@media only screen and (min-width:$DeskTopLargeBreakPoint) {
	.primary_frame {
		width: 80%;
		height: 80%;
	}
}
