@import '../Styles/GlobalStyles.scss';

.primary_frame {
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;

	border-radius: 20px;
	background-color: $White;
}

.blur-it {
	filter: blur(5px);
}

@media only screen and (max-width:$MobileVeryLargeMobileBreakPoint) {
	.primary_frame {
		border-radius: 0px;
		flex-direction: column;
	}
}

@media only screen and (min-width:$MobileVeryLargeMobileBreakPoint) {
	.primary_frame {
		width: 80%;
		height: 80%;

		max-width: 675px;
		max-height: 450px;

		flex-direction: row;
	}
}

@media only screen and (min-width:$MobileSuperLargeMobileBreakPoint) {}

@media only screen and (min-width:$DeskTopFirstBreakPoint) {
	.primary_frame {
		width: 80%;
		height: 80%;
		flex-direction: row;

		max-width: 775px;
		max-height: 500px;
	}
}

@media only screen and (min-width:$DeskTopLargeBreakPoint) {}
